<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 400px; height: 600px; border-top: 4px solid #02b875; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
    <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;"><span
            style="font-size: 15px; margin: 0 0 10px 3px;"></span><br/><span style="color: #02b875">메일인증</span>   안내입니다.
    </h1>
    <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">안녕하세요.<br/>DMS 서비스 비밀번호 변경을 위한 이메일입니다.<br/>인증
        창에<b style="color: #02b875">   {{code}}   </b>를 입력하여 메일인증을 완료해주세요.<br/>감사합니다.</p>
    <div style="border-top: 1px solid #DDD; padding: 5px;"></div>
</div>
</body>
</html>