server:
  port: 8081
  shutdown: graceful

spring:
  profiles:
    active: ${PROFILE:local}

  lifecycle:
    timeout-per-shutdown-phase: "60s"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
      order_inserts: true
      order_updates: true
      jdbc:
        batch_size: 100
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

  flyway:
    enabled: ${FLYWAY_ENABLED:false}
    baseline-on-migrate: ${BASELINE_ON_MIGRATE}
    baseline-version: 0

  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  rabbitmq:
    port: ${RABBITMQ_PORT:5672}
    host: ${RABBITMQ_HOST:localhost}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:2024teamdms@gmail.com}
    password: ${MAIL_PASSWORD:mojr tzte qhwl gfaj}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

secret:
  secret-key: ${SECRET_KEY:asdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfdsasdfghgfds}
  access-exp: ${ACCESS_EXP:3600}
  refresh-exp: ${REFRESH_EXP:1205600}

open-feign:
  neis-key: ${NEIS_KEY:asdf}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS:access}
      secret-key: ${AWS_SECRET:secret}
    region:
      static: ${AWS_REGION:ap-northeast-2}
      auto: false
    stack:
      auto: false
    s3:
      bucket: ${S3_BUCKET_NAME:dms}

sentry:
  dsn: ${SENTRY_DSN:asdf}
  traces-sample-rate: 1.0

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error

slack:
  url: ${SLACK_WEBHOOK_URL:https://hooks.slack.com/services/null/null/null}

passport:
  secret-key: ${PASSPORT_SECRET_KEY:qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop}
