<!DOCTYPE html>
<html lang="en" style="box-sizing: content-box">
<head style="box-sizing: content-box">
    <meta charset="UTF-8" style="box-sizing: content-box" />
    <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
            style="box-sizing: content-box"
    />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            style="box-sizing: content-box"
    />
    <title style="box-sizing: content-box">Document</title>
</head>
<body style="box-sizing: content-box">
<div
        class="container"
        style="
        box-sizing: content-box;
        padding: 40px 10px;
        border-top: 3px solid #3D8AFF;
        border-bottom: 3px solid #3D8AFF;
      "
>
    <div
            class="iconWrapper"
            style="
          box-sizing: content-box;
          display: flex;
          text-align: center;
          padding-bottom: 10px;
          width: fit-content;
          margin: 0 auto;
        "
    >
        <img src="https://image-dms.s3.ap-northeast-2.amazonaws.com/2664b907-609e-41d1-b9ce-d9bbd1439b20%7C%7CScreenshot%202023-03-02%20at%2010.48.18.png"
             style="box-sizing: content-box"
             height="42px"
        />
        <div
                class="iconText"
                style="
            box-sizing: content-box;
            padding-left: 5px;
            font-family: 'Pretendard-Regular';
            font-weight: 100;
            font-size: 15px;
            display: inline;
          "
        >
            <i
                    style="
              box-sizing: content-box;
              font-size: inherit;
              font-weight: inherit;
              font-style: normal;
              font-family: inherit;
              color: #e84045;
            "
            > </i
            >
        </div>
    </div>
    <div
            class="mainTitle"
            style="
          box-sizing: content-box;
          font-family: 'Pretendard-Regular';
          font-size: 25px;
          font-weight: 600;
          margin: 0 auto;
          width: fit-content;
        "
    >
        <i
                style="
            box-sizing: content-box;
            font-size: inherit;
            font-weight: inherit;
            font-style: normal;
            font-family: inherit;
            color: #3D8AFF;
          "
        >비밀번호 변경 </i
        >
        안내입니다.
    </div>
    <div
            class="splitBorder"
            style="
          box-sizing: content-box;
          width: 80px;
          height: 2px;
          background-color: #d3d3d3;
          margin: 15px auto 14px;
        "
    ></div>
    <div
            class="description"
            style="
          box-sizing: content-box;
          font-size: 400;
          font-family: 'Pretendard-Regular';
          color: #505050;
          margin: 0 auto;
          width: fit-content;
        "
    >
        DMS에서 보낸 인증 메일입니다.
    </div>
    <div
            class="codeBox"
            style="
          box-sizing: content-box;
          padding: 20px 52px;
          background-color: #ededed;
          font-family: 'Pretendard-Regular';
          border-radius: 5px;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.3em;
          width: fit-content;
          margin: 20px auto 0;
        "
    >
        <span th:text="${code}"></span>
    </div>
</div>
</body>
</html>